.parent {
    height: 100vh;
    background-color: rgb(40, 44, 52);
    display: flex;
    align-items: center;
    justify-content: center;
}

.child > h1 {
    color: white;
    margin: 1em;
}

.child {
    background-color: rgb(30, 34, 39);
    border: none;
    border-radius: 10px;
    padding: 3em !important;
}

.container {
    width: 25vw !important;
}
