.parent {
    height: 100vh !important; 
    background-color: rgb(40, 44, 52);
    display: flex;
    align-items: center;
    justify-content: center;
}

.childs > h1 {
    color: white;
    margin: 0.5em;
}

.childs {
    color: white;
    background-color: rgb(30, 34, 39);
    border: none;
    border-radius: 10px;
    padding: 2em !important;
}

.saveChanges{
    padding: 0.5em !important;
}

.buttons{
    border: none !important;
    background: none !important;
}

.buttons:hover{
    color: rgb(13, 110, 253) !important;
}

.deleteAccount:hover{
    color: rgb(220,53,69) !important;
}

.container {
    width: 25vw !important;
}
